.taskManagerContainer {
  .searchFormContainer {
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    height: 160px;
    align-items: center;
  }
  .tableContainer {
    color: #1890ff;
  }
}