@import "/src/assets/style/main.scss";
.section-login {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    $login-background-dark,
    $login-background-light
  );
  position: relative;
  color: #fff;
}

.login {

  &__content {
    width: 72vw;
    height: 80%;
    border-radius: 0.5rem;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    @include absCenter;

    &--row {
      height: 100%;
    }

    &--col {
      width: inherit;
      height: 100%;

      &--logo {
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &--form {
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }
}

.form {
  color: $login-default-color;
  width: 72%;

  &_label {
    font-weight: 700;
    color: $color-white;
    font-size: 1rem;
  }
}

.btn {
  color: $login-default-color;
  background-color: $color-white;
}
