.search_section {
  width: 100%;
  padding: 1.5rem 1.5rem;
  background-color: $search-background-color;
  box-shadow: 0 .1rem 1rem rgba($color-black, 0.15);;

  &__btnGround {
    display: flex;
    justify-content: end;
  }
}
